p {
   font-family: lato;
   color: rgb(0, 132, 255);

}


.form-control {
    padding: auto;
    margin: 2%;
    input {
        padding: 1em;
        margin-bottom: 2em;
        
    }   
}
.card-body{
    padding: auto;
    margin: 2%;
    
}